@import url('https://fonts.googleapis.com/css?family=Caudex:400,700|Open+Sans&display=swap');
html, main {
  width: 100%;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #000a14;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.login-bg {
  background: url(img/bg-desktop.jpg) no-repeat center center fixed;
}

.general-bg {
  background-image: url(img/bg-desktop-general.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.login {
  background-color: #000a14;
  padding: 21px 63px 45px 63px;
  border: solid 2px #463714;
}

/* Colores, Fuentes, Tamaños y Displays */
.hide {
  display: none !important;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.height-100 {
  height: 100%;
}

.gunmetal-bg {
  background-color: #1e2328;
}

.bold {
  font-weight: bold;
}

.dark-gold-letter {
  color: #937341;
}

.pale-gold-letter {
  color: #c4b998;
}

.caudex {
  font-family: "Caudex", serif;
}

.logo {
  margin: 0;
  text-align: center;
}

.flex {
  display: flex;
}

.galeria {
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 10px 108px 0px 138px;
}

.with-icon {
  position: relative;
}

.icon {
  position: absolute;
  left: 90%;
  top: 13px;
}

/* Estilos que se repiten */
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  margin-top: 5px;
  padding-left: 16px;
  height: 45px;
  width: 335px;
  border-radius: 2px;
  border: solid 1px #785a28;
}

@keyframes autofill {
  to {
    color: #c4b998;
    background: #1e2328;
  }
}

.input-group input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

.input-group input:focus {
  border: solid 1px #c49646;
  outline: none;
}

.input-group label {
  font-size: 1rem;
  line-height: 1.56;
}

/* Estilos del login */

.lost-password span {
  font-size: 14px;
  line-height: 0.07;
}

.lost-password {
  text-align: right;
  margin-top: 12px;
}

.btn-login {
  width: 100%;
  padding: 0.7em 1em;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(
    to top,
    #0d404c 0%,
    #0596aa 44%,
    #0596aa 93%,
    #0ac8b9 100%
  );
  border-image-slice: 1;
  letter-spacing: 1.3px;
  font-size: 15px;
  color: #cdfafa;
  background-origin: border-box;
}
.btn-login:active {
  border-image: linear-gradient(to top, #0d404c 0%, #0d404c 83%, #0d404c 100%);
  border-image-slice: 1;
  color: #0d404c;
  background: #1e2328;
}
.error span {
  color: #ea3636;
}
.error {
  text-align: center;
}
.registration {
  margin-top: 12px;
  text-align: center;
}
/* Estilos generales */
.divider {
  content: url(img/divider-desktop.svg);
}

.divider-right {
  transform: rotate(180deg);
}
.img-sort {
  width: 10.1px;
}
.space-around {
  justify-content: space-around;
}
.search {
  background-color: #1e2328;
  color: #937341;
  height: 32.84px !important;
}

::placeholder {
  color: #937341;
  font-family: Caudex;
  font-size: 13px;
  letter-spacing: 4px;
}
.filter-buttons {
  width: 100px;
  margin-left: 1em;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom, #c3a758, #6b521e);
  border-image-slice: 1;
  background-color: #191c2180;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  -webkit-appearance: none;
  background-position-x: 80%;
  background-size: 15%;
  padding: 0.4em 1em;
}
select.filter-buttons {
  background: url(img/tag.svg) no-repeat right #191c2180;
  background-position-x: 80%;
  background-size: 15%;
}
.icon-select.filter-buttons {
  background: url(img/sort.svg) no-repeat right #191c2180;
  background-position-x: 80%;
  background-size: 15%;
}
.filter-buttons:active,
.filter-buttons:focus {
  border: solid 1px #c49646;
  outline: none;
}
.label-champions {
  font-size: 25px;
  letter-spacing: 8px;
}
.title-champs {
  justify-content: space-evenly;
  padding: 15px 0px 15px 0px;
}
.sort {
  letter-spacing: 4px;
  color: #937341;
}

p.sort {
  font-size: 0.9em;
  word-spacing: 0.2rem;
}

.sort-control {
  justify-content: space-between;
  margin-top: 5px;
}
.filter-group {
  flex-direction: row;
  justify-content: space-around;
}

.average {
  text-align: center;
  font-size: 1.3em;
}

footer{
  color: #ffffff;
  text-align: center;
  border-top: 1px solid #c3a758;
  padding: 10px 0 0 0;
}

footer > a {
  color: lightpink;
  text-decoration: none;
}

footer > a:nth-child(2) {
  color: skyblue;
  text-decoration: none;
}

/* Campeones */
.champ-img {
  margin: 0;
  display: inline-block;
  width: 165px;
  height: 170.4px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #927345, #92734500);
  border-image-slice: 1;
}
.champ-name {
  height: 40%;
  min-height: 50px;
  width: 165px;
  flex-flow: column nowrap;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #92734500, #927345);
  border-image-slice: 1;
  background: linear-gradient(180deg, #13191d 0%, #29363f00 100%);
}

.cards {
  text-align: center;
  margin: 0 30px 30px 0;
  cursor: pointer;
}
.cards img {
  display: none;
}

.champs-modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 85%;
  height: 500px;
  z-index: 3;
  transition: 0.3s ease-out;
  visibility: hidden;
  transform: translateY(45px);
  opacity: 0;
}

.tags {
  margin: 1% 0 1px 10%;
  font-family: "Caudex", serif;
  font-size: 1.5rem;
  color: #5cf7eb;
  text-shadow: 0px 3px 4px #111318e6;
}

.champion-name {
  margin: 5% 0 1px 10%;
  font-family: "Caudex", serif;
  font-size: 2.4rem;
  color: #e5e5e5;
  text-shadow: 0px 3px 4px #111318e6;
}

.modal-bg {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 85%;
  height: 500px;
  background-size: cover;
  background-position: center;
  filter: contrast(0.5);
  transition: 0.3s ease-out;
  visibility: hidden;
  transform: translateY(45px);
  opacity: 0;
  z-index: 2;
}

.tables-container {
  justify-content: space-around;
  margin-top: 5%;
}

.tables {
  background-color: #e5e5e5e3;
  width: 300px;
  border: 10px double rgba(0, 0, 0, 0.5);
}

.tables:nth-child(2){
  background-color: #e5e5e5e3;
  width: 60%;
  border: 10px double rgba(0, 0, 0, 0.5);
}

.tables > p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #0d404c;
  font-size: 1.2rem;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

td {
  width: 10%;
  text-align: justify;
  padding-left: 4.5%;
  padding-right: 2%;
}

td > span {
  font-weight: bold;
  color: #1e2328;
}

.mask {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}
/* Estilos para mobile */
@media screen and (max-width: 767px) {
  .labels-sort {
    display: none;
  }
  .img-sort {
    width: 10.4px;
    height: 10.4px;
  }
  .filter-buttons {
    padding: 0.4em 0 0.4em 0;
    margin: 0;
  }
  .label-champions {
    font-size: 1em;
    letter-spacing: 4px;
    text-align: center;
  }
  .average {
    font-size: 1em;
  }
  body {
    margin: 0;
    padding: 20px;
    background-color: #000a14;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
  }
  .login-bg {
    background: url(img/mobile/bg-mobile-login.png) no-repeat center center
      fixed;
  }
  .login {
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .img-sort {
    width: 10.4px;
    height: 10.4px;
  }
  .sort {
    font-size: 0.9rem;
    margin: 5px 0 5px 0;
    padding: 2px;
  }
  .icon {
    left: 90%;
  }
  .input-group {
    margin-bottom: 20px;
  }
  .input-group input {
    width: auto;
  }
  .divider {
    content: url(img/mobile/divider-mobile.svg);
  }
  .filter-group {
    flex-direction: column;
  }
  .galeria,
  .tables-container {
    flex-flow: wrap column;
    justify-content: space-between;
    padding: 0px;
  }

  .tables,.tables:nth-child(2) {
    margin: 10px 0;
    width: auto;
  }

  .champ-img {
    margin: 0;
    display: inherit;
    width: 0;
    height: 0;
  }
  .champ-name {
    width: auto;
    flex-flow: column nowrap;
    border: none;
    background: none;
  }
  .cards {
    text-align: center;
    border: solid 1px #463714;
    background-color: #111318e6;
    margin: 0 0 15px 0;
  }

  .cards:nth-child(even) {
    background-color: #29363f;
  }
  .cards img {
    display: inline;
  }

  .champs-modal,.modal-bg{
    position: fixed;
    top: -33px;
    overflow-y: auto;
  }
}